<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:include="fragments/header :: header(metaTitle='Create New User')">
    <!--  no security
        <link th:rel="stylesheet" th:href="@{assets/password-strength-meter/password.min.css}"/>
        <script th:src="@{assets/password-strength-meter/password.min.js}"></script>
    -->
    <title th:id="metaTitle">Create New User</title>
    <meta charset="UTF-8">

</head>
<body>
<div align="center">
    <h1 align="center">Create New User</h1>
    <br/><br/>
    <form action="#" th:action="@{'/api/accounts/new/'}" th:object="${account}" th:method="post">
        <table border="1" cellpadding="10">
            <tr>
                <td>
                    <label th:for="${#ids.next('firstName')}" th:text="${'First Name'}" th:field="${account.firstName}"></label>
                </td>
                <td>
                    <input th:id="firstName" th:type="text" th:field="*{firstName}" th:value="*{firstName}"/>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}">First Name Error</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:for="lastName" th:text="${'Last Name'}" th:field="${account.lastName}"></label>
                </td>
                <td>
                    <input type="text" th:field="*{lastName}" th:text="*{lastName}"/>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}">Last Name Error</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:for="*{otherName}" th:text="${'Other Name'}" th:field="${account.otherName}"></label>
                </td>
                <td>
                    <input type="text" th:field="*{otherName}" th:text="*{otherName}"/>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('otherName')}" th:errorclass="error" th:errors="*{otherName}">
                        Other Name Error</p></td>
            </tr>
            <tr><!--private String email;-->
                <td>
                    <label th:for="*{email}" th:text="${'Email'}" th:field="*{email}"></label>
                </td>
                <td>
                    <input type="text" th:field="*{email}" th:text="*{email}"/>
                </td>
                <td th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}">Email Error</td>
            </tr>
            <tr>
                <td>
                    <label th:for="*{gender}" th:text="${'Gender'}" th:field="*{gender}"></label>
                </td>
                <td>
                    <select name="Gender" th:field="*{gender}">
                        <option th:each="gender : ${T(com.example.demoBankRepository.entity.enums.Gender).values()}"
                                th:value="${gender}"
                                th:text="${gender.name}"/>
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('gender')}" th:errorclass="error" th:errors="*{gender}">Gender Error</td>
            </tr>
            <tr><!--private String phoneNumber;-->
                <td>
                    <label th:for="*{phoneNumber}" th:text="${'Phone Number'}" th:field="${account.phoneNumber}"></label>
                </td>
                <td><input type="text" th:field="${account.phoneNumber}"/></td>
                <td th:if="${#fields.hasErrors('phoneNumber')}" th:errorclass="error" th:errors="*{phoneNumber}">PhoneNumber Error</td>
            </tr>
            <tr><!--private String alternativePhoneNumber;-->
                <td>
                    <label th:for="*{alternativePhoneNumber}" th:text="${'Alternative Phone Number'}" th:field="${account.alternativePhoneNumber}"></label>
                </td>
                <td><input type="text" th:field="*{alternativePhoneNumber}"/></td>
                <td th:if="${#fields.hasErrors('alternativePhoneNumber')}" th:errorclass="error"
                    th:errors="*{alternativePhoneNumber}">AlternativePhoneNumber Error</td>
            </tr>
            <tr><!--private String address;-->
                <td>
                    <label th:for="*{address}" th:text="${'Address'}" th:field="${account.address}"></label>
                </td>
                <td><input type="text" th:field="*{address}"/></td>
                <td th:if="${#fields.hasErrors('address')}" th:errorclass="error" th:errors="*{address}">Address Error</td>
            </tr>
            <tr><!--private String status;-->
                <td>
                    <label th:for="*{status}" th:text="${'Status'}" th:field="${account.status}"></label>
                </td>
                <td>
                    <select name="Status" th:field="*{status}">
                        <option th:each="stat : ${T(com.example.demoBankRepository.entity.enums.StatusName).values()}"
                                th:value="${stat}"
                                th:text="${stat.name}"/>
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('status')}" th:errorclass="error" th:errors="*{status}">Status Error</td>
            </tr>
            <tr><!--private String stateOfOrigin;-->
                <td>
                    <label th:for="status" th:text="${'State Of Origin'}" th:field="${account.stateOfOrigin}"></label>
                </td>
                <td>
                    <select id="status" name="Status" th:field="${account.stateOfOrigin}">
                        <option th:each="stat : ${T(com.example.demoBankRepository.entity.enums.StatusName).values()}"
                                th:value="${stat}"
                                th:text="${stat.name}"/>
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('stateOfOrigin')}" th:errorclass="error" th:errors="*{stateOfOrigin}">
                    StateOfOrigin Error
                </td>
            </tr>
            <tr><!--private String sortCode;"12-13-14"-->
                <td>
                    <label th:for="*{sortCode}" th:text="${'Sort Code'}" th:field="${account.sortCode}"></label>
                </td>
                <td><input type="text" th:field="*{sortCode}"/></td>
                <td th:if="${#fields.hasErrors('sortCode')}" th:errorclass="error" th:errors="*{sortCode}">SortCode
                    Error
                </td>
            </tr>
            <tr><!--private String accountNumber;;"12131478"-->
                <td>
                    <label th:for="*{accountNumber}" th:text="${'Account Number'}" th:field="${account.accountNumber}"></label>
                </td>
                <td><input type="text" th:field="*{accountNumber}"/></td>
                <td th:if="${#fields.hasErrors('accountNumber')}" th:errorclass="error" th:errors="*{accountNumber}">
                    AccountNumber Error
                </td>
            </tr>

            <tr><!--private String bankName;-->
                <td>
                    <label th:for="*{bankName}" th:text="${'Bank Name'}" th:field="${account.bankName}"></label>
                </td>
                <td>
                    <input type="text" th:value="${account.bankName}" th:field="${account.bankName}"/>
                </td>
                <td th:if="${#fields.hasErrors('bankName')}" th:errorclass="error" th:errors="*{bankName}">BankName
                    Error
                </td>
            </tr>

            <tr><!--private BigDecimal accountBalance;-->
                <td>
                    <label th:for="*{accountBalance}" th:text="${'Account Balance'}" th:field="${account.accountBalance}"></label>
                </td>
                <td>
                    <input type="text" th:value="${#numbers.formatDecimal(account.accountBalance,  1, 'DEFAULT', 2, 'DEFAULT')}" th:field="${account.accountBalance}"
                           class="form-control"/>
                </td>
                <td th:if="${#fields.hasErrors('accountBalance')}" th:errorclass="error" th:errors="*{accountBalance}">
                    AccountBalance Error
                </td>
            </tr>
            <tr>
                <td>
                    <button th:type="submit">Submit</button>
                </td>
                <td th:if="${#fields.hasGlobalErrors()}" th:errorclass="error" th:text="${#fields.errors()}">
                </td>
            </tr>
        </table>
    </form>
</div>

<!--private transient List<Transaction> transactions;-->
</body>
</html>