<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header(metaTitle)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta content="ie=edge" http-equiv="x-ua-compatible"/>
    <title th:text="${metaTitle} ? ${metaTitle} : 'Demo Bank Application'"></title>

    <!--<link rel="stylesheet" th:href="@{org/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" th:src="@{../static/css/style.css}"/>
    <!--<script type="text/javascript" th:src="@{org/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>-->
</head>
</html>