<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head lang="en" th:include="fragments/header :: header(metaTitle='Error page')">
    <title th:id="metaTitle" th:text="metaTitle?metaTitle:'Error'">Error page</title>
</head>


<body class="container">

<div th:include="fragments/errorMessage :: errorMessage(err=${err})" th:object="${err}">
    <h1>Errors:</h1>
    <a th:text="${err}"></a>
</div>

<br/><br/>
<div lang="en" th:replace="fragments/footer.html::footer"></div>

</body>
</html>